@font-face {
  font-family: Comme;
  src: url('../font/Comme.ttf');
}
@font-face {
  font-family: encode-sans;
  src: url('../font/Encode-Sans.ttf');
}

html,
body {
  background: rgb(0,0,0);
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.container{
  position: relative;
  width: 1280px;
  height:100%;
  margin:auto;
  background-color:rgb(12,12,12);
  padding: 0px 35px 250px 35px;
}

.mainSectionText{
  color: #E5DFD9;
  display:flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 10px 0px 40px 0px;
}

.productText{
  font-family: encode-sans;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #E5DFD9;
}

.dot{
  font-size: 5px;
  margin: 0px 8px;
}

.numberOfProducts{
  font-family: encode-sans;
  width: 135px;
  display:flex;
  justify-content: space-between;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #E5DFD9;
}

.upArrow{
  color: #E5DFD9;
  background-color: #E5DFD9;
}

.cards_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px 25px; 
}

